.ant-layout-sider {
    background: #001e28;
}

.ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark, .ant-menu.ant-menu-dark .ant-menu-sub {
    background: #001e28;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ff7f50;
}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}
  
#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}
  
#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}
  
.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout.ant-layout-has-sider {
    min-height: 100vh;
}

.anticon svg {
    font-size: 25px;
}

.ant-layout-header .anticon svg {
    margin-left: 10px;
}

.ant-menu-title-content {
    font-size: 18px;
}

.logo {
    text-align: center;
    margin: 15px 0;
}

.logo-title {
    letter-spacing: 1.3px;
    color: #ffffff;
}